<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Sports Live</title>

</head>

<body>
    <nav class="nav">
        <a href="/" class="<%= locals.page === 'home' ? 'active' : '' %>">🗓️ Today</a>
        <a href="/live" class="<%= locals.page === 'live' ? 'active' : '' %>">🔴 Live</a>
        <a href="/standings" class="<%= locals.page === 'standings' ? 'active' : '' %>">📈 Standings</a>
    </nav>
    <div class="container">
        <h1>Sports Live</h1>
        <p class="date">Today: <%= new Date().toDateString() %>
        </p>

        <% if (fixtures.length===0) { %>
            <p>No matches today.</p>
            <% } else { %>
                <% fixtures.forEach(fix=> { %>
                    <div class="game-card">
                        <!-- Teams & Score -->
                        <div class="team">
                            <img src="<%= fix.teams.home.logo %>" alt="<%= fix.teams.home.name %>">
                            <span>
                                <%= fix.teams.home.name %>
                            </span>
                        </div>

                        <div class="score">
                            <% if (fix.fixture.status.short==="NS" ) { %>
                                <!-- Not started - Match time -->
                                <span>
                                    <%= new Date(fix.fixture.date).toLocaleTimeString("en-AU", {
                                        timeZone: "Australia/Adelaide" , hour: "2-digit" , minute: "2-digit" }) %>
                                </span>
                                <!-- On live or ended - Show score -->
                                <% } else { %>
                                    <span>
                                        <%= fix.goals.home %> - <%= fix.goals.away %>
                                    </span>
                                    <% } %>
                                        <p
                                            class="status <%= fix.fixture.status.short === 'FT' ? 'final' : fix.fixture.status.short === 'NS' ? 'upcoming' : 'live' %>">
                                            <%= fix.fixture.status.long %>
                                        </p>
                        </div>
                        <div class="team">
                            <img src="<%= fix.teams.away.logo %>" alt="<%= fix.teams.away.name %>">
                            <span>
                                <%= fix.teams.away.name %>
                            </span>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
    </div>
</body>

</html>